<script src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
function editor_enable(){
    tinymce.init({
        selector: "i.editable",
        inline: true,
        toolbar: "undo redo",
        menubar: false
    });

    $("#save").show();
    $("#edit").hide();
}
function editor_disable(){
    tinymce.remove("i.editable");
    $("#save").hide();
    $("#edit").show();
}
$(document).ready(function(){
    $("#save").click(function(){
        var desc = $("i.editable").text();
        NProgress.start();
        $.post(window.location.pathname, {description: desc}, function(data) {
            json = JSON.parse(data);
            editor_disable();
            NProgress.done();
        });
    });
});
</script>
<section class="container">
    <% if editor? and !@noedit%>
        <div class="buttons">
            <button id="edit" onclick="editor_enable()">Edit</button>
            <button id="save" style="display: none;">Save</button>
        </div>
    <% end %>
    <%= @category.html_name %>
    <i class="editable"><%= @category.description %></i>
    <title><%= @category.name %> - The Puma Press</title>
    <hr>
    <div class="article_well">
    <% categories = Category.all(name:@category.name)
    Category.all.each do |cat|
        index = cat.name.index(@category.name)
        #categories.inspect
        #puts "CAT: #{cat.name}, #{index}, #{categories.inspect}"
        if index==0 && cat.name != @category.name
            categories.push cat
        end
    end
    # TODO: Figure out why this makes a difference. Without it, only the first category is queried against.
    categories.inspect
    categories.articles(published:true, order:[:published_on.desc]).each do |article| %>
        <a href="/article/<%= article.id %>" style="background-image: url('<%= article.image_path %>')">
            <div><%= article.title %></div>
        </a>
    <% end %>
    </div>
</section>
