<section class="container">
    <div class="buttons">
        <span class="edit-controls" style="display: none;">
            <input id="addText" placeholder="Category Name"></input>
            <button id="add">Add Category</button>
            <button id="save">Save</button>
        </span>
        <button id="edit">Edit</button>
    </div>
    <h1>Category Management</h1>
    <title>Category Management - The Puma Press</title>
    <hr>
    <ul class="sortable list">
    <% Category.all(order:[:index.asc]).each do |categ| %>
        <li>
            <a class="user" data-name="<%= categ.name %>" href="/category/<%= categ.name %>">
                <div class="name">
                    <%= categ.name %>
                    <% if categ.description && categ.description.strip.length>0 %>
                        <span class="title">
                            — <%= categ.description %>
                        </span>
                    <% end %>
                    <span class="pull-right">
                        <span class="badge badge-inverse">
                            <%= categ.articles.length %>
                        </span>
                        &nbsp;
                        <span class="edit-controls" style="display: none;">
                            <button class="delete">Delete</button>
                            <i class="icon-reorder"></i>
                        </span>
                    </span>
                </div>
            </a>
        </li>
    <% end %>
    </ul>
    <script>
$(document).ready(function(){
$("#edit").click(function(){
    $("#edit").hide();
    $( ".sortable" ).sortable({
      placeholder: "list-placeholder"
    });
    $( ".sortable" ).disableSelection();
    $(".edit-controls").show();
});
$(".delete").click(function(e){
    var elem = $(this.parentElement.parentElement.parentElement.parentElement.parentElement);
    elem.remove();
    e.preventDefault();
});
$("#add").click(function(e){
    var text = $("#addText").val();
    $("#addText").val("");
    var newElem = $(".sortable li").eq(0).clone();
    newElem.find(".name")[0].childNodes[0].textContent = text;
    newElem.find(".name .title").remove();
    newElem.find(".badge").text("0");
    newElem.find("a").attr("href","/category/"+text).attr("data-name",text);
    $(".sortable").append(newElem);
});
    $("#save").click(function(e){
        $("#edit").show();
        $( ".sortable" ).sortable("destroy");
        $( ".sortable" ).enableSelection();
        $(".edit-controls").hide();

        NProgress.start();
        var data = {};
        $(".sortable li a").each(function(index, elem){
            var category = elem.dataset.name
            data[category] = {index: index};
        });
        $.post("/categories", data, function(data) {
            json = JSON.parse(data);
            NProgress.done();
        });
    });
});        
    </script>
</section>

