<head>
    <%= stylesheet_tag 'default' %>
    <%= javascript_tag "default" %>
</head>
<body>
    <div class="wrapper">
        <header>
            <a href="/"><img src="<%= image_path "logo.jpg" %>"></img></a>
            <section class="nav_bar">
                <ul>
                    <% Category.all(order:[:index.asc]).each do |cat| 
                        if not cat.name.include? "/" %>
                            <li>
                                <a href="/category/<%= cat.name %>"><%= cat.name.upcase %></a>
                                <% sub_cat = []
                                Category.all(order:[:index.asc]).each do |n_cat|
                                    if n_cat.name.include? '/' and n_cat.name.include? cat.name
                                        sub_cat.push n_cat
                                    end
                                end
                                if sub_cat.length > 0
                                %>
                                    <ul>
                                        <% sub_cat.each do |s_cat| %>
                                            <li>
                                                <a href="/category/<%= s_cat.name %>"><%= s_cat.name.split("/").pop.strip.upcase %></a>
                                            </li>
                                        <% end %>
                                    </ul>
                                <% end %>
                            </li>
                    <%  end
                    end %>
                    <li>
                        <% staffs = Staff.all.sort{ |a, b| a.year <=> b.year } %>
                        <a href="/staff/<%= staffs[0].year %>">STAFF</a>
                        <ul>
                            <% staffs.each do |staff| %>
                                <li>
                                    <a href="/staff/<%= staff.year %>"><%= staff.year %></a>
                                </li>
                            <% end %>
                        </ul>
                    </li>
                    <li>
                        <form class="search" action="/search" method="get">
                            <input type="search" placeholder="SEARCH" name="q" results=10/>                        
                        </form>
                    </li>
                    <li class="icon">
                        <a href="https://www.facebook.com/pages/Puma-Press/146302839666">
                            <i class="icon-facebook-sign"></i>
                        </a>
                        <a href="https://twitter.com/thepumapress">
                            <i class="icon-twitter-sign"></i>
                        </a>
                    </li>
                </ul>
            </section>

            <section class="notifications">
                <% error = flash[:error] 
                if error %>
                    <div class="notification error">
                        <%= error %>
                    </div>
                <% end %>
                <% notice = flash[:notice] 
                if notice %>
                    <div class="notification">
                        <%= notice %>
                    </div>
                <% end %>
            </section>
            <script>
                var timeout = setTimeout(function(){
                    $(".notifications").fadeOut();
                },10000);
                $(".notifications").click(function() {
                    clearTimeout(timeout);
                    $(".notifications").fadeOut();
                })
            </script>
        </header>
        <%= yield %>
    </div>
    <footer>
        <section class="container">
            <table>
                <thead>
                    <tr>
                        <th>
                            <span>University Prep</span>
                        </th>
                        <th>
                            <span>Categories</span>
                        </th>
                        <th>
                            <span>Social Media</span>
                        </th>
                        <th>
                            <span>Authors and Editors</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li><a href="http://www.universityprep.org">Homepage</a></li>
                                <li><a href="http://www.universityprep.org/about">About</a></li>
                                <li><a href="http://universityprep.schoology.com">Schoology</a></li>
                                <li><a href="http://outlook.office365.com">Webmail</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <% Category.all.each do |cat| %>
                                    <li><a href="/category/<%= cat.name %>"><%= cat.name %></a></li>
                                <% end %>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li><a href="https://www.facebook.com/pages/Puma-Press/146302839666">Facebook</a></li>
                                <li><a href="https://twitter.com/thepumapress">Twitter</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                 <% if logged_in? %>
                                    <li><a href="/logout">Logout</a></li>
                                    <li><a href="/user/<%= current_user.username %>">Edit My Profile</a></li>
                                    <li><a href="/article/new">New Article</a></li>
                                    <% if editor? %>
                                        <li><a href="/category/unpublished">Unpublished Articles</a></li>
                                        <li><a href="/users">User Managment</a></li>
                                        <li><a href="/categories">Category Managment</a></li>
                                        <li><a href="/staff/new">New Staff Group</a></li>
                                    <% end %>
                                 <% else %>
                                    <li><a href="/login">Login</a></li>
                                 <% end %>
                            </ul>
                        </td>
                    <tr>
                </tbody>
            </table>
        </section>
        <section class="copyright">
            Code <a href="http://tristanrice.name">© 2013 Tristan Rice</a> · Licensed under the <a href="http://opensource.org/licenses/mit-license.html">MIT License</a>
            <br>
            <a href="https://github.com/d4l3k/ThePumaPress">Github Project</a> · <a href="https://waffle.io/d4l3k/ThePumaPress">Issues</a>
        </section>
    </footer>
</body>
