<head>
    <%= stylesheet_tag 'default' %>
    <%= javascript_tag "default" %>
</head>
<body>
    <header>
        <a href="/"><img src="<%= image_path "logo.jpg" %>"></img></a>
        <section class="nav_bar">
            <ul>
                <% Category.all.each do |cat| %>
                    <li><a href="/category/<%= cat.name %>"><%= cat.name.upcase %></a></li>
                <% end %>
                <li>
                    <form class="search" action="/search" method="get">
                        <input type="search" placeholder="SEARCH" name="q" results=10/>                        
                    </form>
                </li>
                <li class="icon">
                    <a href="https://www.facebook.com/pages/Puma-Press/146302839666">
                        <i class="icon-facebook-sign"></i>
                    </a>
                    <a href="https://twitter.com/thepumapress">
                        <i class="icon-twitter-sign"></i>
                    </a>
                </li>
            </ul>
        </section>
    </header>
    <%= yield %>
</body>
