<script src="/js/tinymce/tinymce.min.js"></script>
<section class="container">
    <% if editor? or current_user == @user %>
        <div class="buttons">
            <button id="delete" class="normal-mode">Delete</button>
            <button id="edit" class="normal-mode">Edit</button>
            <button id="save" class="edit-mode">Save</button>
        </div>
    <% end %>
    <h1>Staff of <span class="editable"><%= @staff.year %></span></h1>
    <title>Staff of <%= @staff.year %> - The Puma Press</title>
    <i class="editable"><%= @staff.description %></i>    
    <hr>
    <div class="edit-mode" style="display: none;">
        Select staff members by dragging into box below: 
        <ul class="potential-staff-list author-list sortable">
            <% User.all(:rank.gte => 50).each do |user| @user = user%>
                <% if not @staff.users.include? user %>
                    <li data-username="<%= user.username %>">
                        <%= erb :user_render %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
    <script>
    function enable_user_selector(){
        $(".user_selector").show();
        $( ".sortable" ).sortable({
          connectWith: ".sortable"
        }).disableSelection();
        $(".sortable").addClass("outline");
    }
    function disable_user_selector(){
        $(".user_selector").hide();
        $(".sortable").sortable("destroy").enableSelection();
        $(".sortable").removeClass("outline");
    }
    </script>    
    <ul class="staff-list sortable">
    <% @staff.order.each do |user| @user = User.get(user) %>
        <li data-username="<%= @user.username %>">
            <%= erb :user_render %>
        </li>
    <% end %>
    </ul>
    <script>
$(document).ready(function(){
function editor_enable(){
    tinymce.init({
        selector: "i.editable",
        inline: true,
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
    $(".edit-mode").show();
    $(".normal-mode").hide();
    enable_user_selector();
}
function editor_disable(){
    tinymce.remove("span.editable");
    tinymce.remove("i.editable");
    $(".edit-mode").hide();
    $(".normal-mode").show();
    $(".picture-upload").hide();
    disable_user_selector();
}
    $("#edit").click(function(){
        editor_enable();
    });
    $("#save").click(function(){
        var data = {
            year: $("span.editable").text(),
            description: $("i.editable").text(),
            users: []
        };
        $(".staff-list [data-username]").each(function(index, elem){
            data.users.push(elem.dataset.username);
        });
        NProgress.start();
        $.post(window.location.pathname, data, function(data) {
            json = JSON.parse(data);
            editor_disable();
            window.history.pushState({},"","/staff/"+data.year);
            NProgress.done();
        });
    });
    $("#delete").click(function(){
        if(confirm("Are you sure you want to delete this article?")){
            NProgress.start();
            $.ajax({
                url: window.location.pathname,
                type: 'DELETE',
                success: function(result) {
                    NProgress.done();
                    window.location.pathname = "/"
                }
            });
        }
    });
    <% if @staff.year == "new" %>
        $("span.editable").text("");
        tinymce.init({
            selector: "span.editable",
            inline: true,
            toolbar: "undo redo",
            menubar: false
        });
        editor_enable();
    <% end %>
});        
    </script>
</section>

