<script src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
function editor_enable(){
    tinymce.init({
        selector: "h1.editable",
        inline: true,
        toolbar: "undo redo",
        menubar: false
    });

    tinymce.init({
        selector: "div.editable",
        inline: true,
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
    $("#save").show();
    $("#edit").hide();
    $(".picture-upload").show();
}
function editor_disable(){
    tinymce.remove("h1.editable");
    tinymce.remove("div.editable");
    $("#save").hide();
    $("#edit").show();
    $(".picture-upload").hide();
}
$(document).ready(function(){
    $("#save").click(function(){
        var name = $("h1.editable").eq(0).text();
        var title = $("#title.editable").text();
        var content = $("div.editable").html();
        var image = $(".picture a").attr("href");
        document.title = name+" - The Puma Press";
        NProgress.start();
        $.post(window.location.pathname, {name:name,about:content, picture:image, title: title}, function(data) {
            json = JSON.parse(data);
            editor_disable();
            NProgress.done();
        });
    });
    $("button:contains('Upload')").click(function(){
        var input = $(".picture-upload input");
        var file = input[0].files[0];
        upload(file,function(a,b){
            var url = a+".png";
            $(".picture a").css({"background-image":"url('"+url+"')"}).attr("href",url);
        });
    });
});
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="container">
    <% if editor? or current_user == @user %>
        <div class="buttons">
            <button id="edit" onclick="editor_enable()">Edit</button>
            <button id="save" style="display: none;">Save</button>
        </div>
    <% end %>
    <div class="picture pull-left">
        <a style="background-image: url('<%= @user.display_picture %>')" href="<%= @user.display_picture %>"></a>
        <div class="picture-upload" style="display: none;">
            <input type="file"></input>
            <button>Upload</button>
        </div>
    </div>
    <div class="content">
        <h1 class="editable"><%= @user.display_name %></h1>
        <span class="slash">&#151;</span>
        <h1 id="title" class="editable"><%= @user.title %></h1>
        <div class="editable" style="width:100%;"><%= @user.about %></div>
    </div>
    <title><%= @user.display_name %> - The Puma Press</title>
</section>
<% if @user %>
    <section class="container">
        <div class="fb-comments" data-href="http://thepumapress.org/user/<%= @user.username %>" data-width="940"></div>
    </section>
<% end %>
